html{
	height: 100%;
}
body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	/*background-color: #a8753e;*/
}
.clair{
	background-color: #a8753e;
	transition: all 0.5s;
}

.sombre{
	background-color: #35363a;
	transition: all 0.5s;
}

.imgsombre{
	filter: invert(1);
}

.container{
	display: flex;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

h1{
	display: flex;
	font-family: Roboto, Arial;
	font-size: 3em;
	font-weight: 400;
	color: #fff;
	letter-spacing: 2px;
	margin-bottom: 5em; 
}

.search{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.chomp{
	display: flex;
}
.input{
	font-family: Lato, Arial;
	font-size: 1.25em;
	padding: 0 0 0 20px;
	height: 50px;
	min-width: 5em;
	width: 40em;
	border: none;
	border-radius: 50px;
	margin: 0 5px 0 10px;
}
.button{
	background-color: #fff;
	font-family: Roboto, Arial;
	font-size: 1.25em;
	font-weight: 200;
	border: 0px solid black;
	border-radius: 50px;
	padding: 10px;
	width: 150px;
	height: 50px;
	margin: 0 10px 0 0px;
	transition: all, 0.5s;
}
.button:hover{
	background-color: #e3e3e3;
}
p{
	color: #fff;
	font-family: Lato, Arial;
	font-size: 2em;
	text-align: center;
	margin-top: 6em;
	/*position: fixed;
	bottom: 20%;*/
}

img{
	height: 25px;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	transition: all 0.5s;
}
@media (max-width: 1000px){

	h1{
		font-size: 6em;
	}
	img{
		height: 70px;
		right: 30px;
		top: 30px;
	}

	.chomp{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.input{
		height: auto;
		font-size: 4.5em;
		padding: 25px 0px 25px 50px;
		border-radius: 70px;
		margin-left: 10px;
		margin-right: 10px;
		width: auto;
	}
	.button{
		margin-top: 40px;
		height: auto;
		min-width: 6em;
		font-size: 3.5em;
		padding: 40px;
		border-radius: 80px;
	}
	p{
		font-size: 4em;
		text-align: center;
	}
}
